h1 {
    color: tomato;
}

body {
    background-image: url(../assets/noita-digital-MdmcpX2ofRk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.white {
    color: white;
}